p {
  display:inline;
  font-size: 40px;
}
.help-instruction p{
    font-size: x-large;
	float:left;
}
.help-page-class div{
	float:left;
	margin-bottom:15px;
}


input{
  width:130px;
  border:0px;
  font-size:40px;
}
.nav{
	font-size: x-large;
}
.master-page{
background-color: black;
height: 100vh;

}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.game div {
  width:100px;
  height:100px;
  display:inline-block;
  background:blue;
  margin: 10px;
  background-image:url("https://pbs.twimg.com/profile_images/433319671430123521/LAm8cB1b.jpeg");
  background-size:cover;
  
}

.game {
  width:250px;
  margin:0 auto;
  outline: 1px solid;
}

.game .winner {
  background:red;
  background-image:url("http://www.siyumhaseinfeld.com/images/chars/newman.jpg");
  background-size:cover;
}